name: Deploy to TEST (Docker)

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy Docker app to TEST
        run: |
          ssh root@${{ secrets.TEST_SERVER_IP }}  << 'EOF'
            cd /var/www/current
            git pull origin dev
            podman-compose down
            podman-compose build
            podman-compose up -d
          EOF

