name: Deploy to TEST (Docker + Registry)

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build, Push, Deploy to TEST
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
          IMAGE_TAG="dev-${SHORT_SHA}"
          IMAGE_NAME="ghcr.io/youssefat928/laravel-app:${IMAGE_TAG}"

          ssh root@${{ secrets.TEST_SERVER_IP }} "bash -s" << EOF
            set -e
            cd /var/www/current
            git pull origin dev

            # Build once
            podman build -t ${IMAGE_NAME} .

            # Push to registry
            podman push ${IMAGE_NAME}

            # Run from registry image
            IMAGE_TAG=${IMAGE_TAG} podman-compose down
            IMAGE_TAG=${IMAGE_TAG} podman-compose up -d
          EOF
