name: Deploy to Prod

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Sync project to PROD Server
        run: |
          rsync -avz --delete \
            --exclude ".env" \
            --exclude "vendor" \
            --exclude "node_modules" \
            ./ root@${{ secrets.PROD_SERVER_IP }}:/var/www/current/

      - name: Install Composer dependencies
        run: |
          ssh root@${{ secrets.PROD_SERVER_IP }} "
            cd /var/www/current && \
            composer install --no-interaction --prefer-dist
          "

      - name: Clear Laravel Caches
        run: |
          ssh root@${{ secrets.PROD_SERVER_IP }} "
            cd /var/www/current && \
            php artisan config:clear && \
            php artisan route:clear && \
            php artisan cache:clear
          "

      - name: Fix Permissions
        run: |
          ssh root@${{ secrets.PROD_SERVER_IP }} "
            chown -R nginx:nginx /var/www/current && \
            chmod -R 775 /var/www/current/storage /var/www/current/bootstrap/cache
          "

      - name: Restart PHP & Nginx
        run: |
          ssh root@${{ secrets.PROD_SERVER_IP }} "
            systemctl restart php-fpm && systemctl restart nginx
          "
